</div>
</div>
</div>
<br><br><br>
<hr>

<p class="text-center"> &copy; ShoppingCart</p>

  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
  <script src="/js/main.js" ></script>
</body>
</html>