 <main>
     <div class="row justify-content-center">
         <div class="col-lg-6 container3 text-white p-5">
             <form name="myForm" action="https://api.paystack.co/transaction/verify/'+encodeURIComponent(ref)" method="POST">
                <script src="'https://api.paystack.co/transaction/verify/'+encodeURIComponent(ref)">
                </script>
            </form>
         </div>
     </div>
 </main>