<%- include("layouts/header")  -%>


<main class="row justify-content-center">
    <h1 class="text-center"> Sorry your payment was not succesful  </h1>
    <a class="btn btn-warning" href="/cart/buynow">Try again</a>
</main>




<%- include("layouts/footer") -%>