<%- include("layouts/header")  -%>


<main class="row justify-content-center">
    <h1 class="text-center"><%= pay.full_name %> your payment of NGN <%= pay.amount/100 %> was successful  </h1>
</main>




<%- include("layouts/footer") -%>